 * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }

body{
        background-color: #061421;
      }
      
      .chartMenu {
        width: 100vw;
        height: 40px;
        background-color: black;
      }

      .chartMenu p {
        padding: 10px;
        font-size: 20px;

      }
      .chartCard {
        width: 100vw;
        height: 200vh;
        
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 25px;
        
      
        align-items: start;
        justify-content: space-around;
        align-content: center;              }
  
      .chartBox {
        width: 250px;
        height: 300px;
        padding: 30px;
        
        margin-top: 10px;
        margin-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;

        border-radius: 20px;
        border: solid 3px rgb(77, 74, 74);
        background: white;
      }

      .texto {
        font-size: 14px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
      }
    
  
